@import "@/app/styles/variants.scss";
@import "@/app/styles/colors.scss";
.tree-node {
  position: relative;
  width: fit-content;
  z-index: 1;

  .node-title-container {
    width: 210px;
    @include flex(row, space-between, center);
    padding: 5px;
    a {
      text-decoration: none;
      color: $black;
    }
  }

  .child-nodes {
    width: max-content;
    position: absolute;
    top: 0;
    list-style: none;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid $gray;
    border-radius: 5px;
    background-color: $white-secondary;
  }
}
